[Unit]
Description=Prometheus
After=network.target

[Service]
ExecStart=/home/usada/bin/prometheus/prometheus --config.file /home/usada/infra/infra-tool/prometheus/config.yaml --storage.tsdb.path=/home/usada/infra/data0/prometheus

User=usada
Group=usada
Restart=always

[Install]
WantedBy=multi-user.target
