[Unit]
Description=Redis In-Memory Data Store
After=network.target

[Service]
ExecStart=/home/usada/bin/redis/redis-server /home/usada/infra/redis/cluster/4/redis.conf
ExecStop=/home/usada/bin/redis/redis-cli shutdown
User=usada
Group=usada
Restart=always

[Install]
WantedBy=multi-user.target
