[Unit]
Description=OpenObserve
After=network.target

[Service]
ExecStart=/home/usada/.vector/bin/vector --config /home/usada/infra/infra-tool/vector/kronii.conf.toml

User=usada
Group=usada
Restart=always

[Install]
WantedBy=multi-user.target
